

.azeret-mono-regular{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }
   
  /* shared styles */
  
  .secondary-bg{
      background-color:#f7f9faec;
   
  }
  
  .about{
      margin: 64px 80px 70px 80px;
      border-radius: 20px;
      padding: 100px 120px;
      box-shadow: 2px 2px 5px 5px rgb(202, 199, 199);
      
  } 
  main{
      width: 1140px;
      margin: 0 auto;
  }
  
  .azeret-mono-regular{
      color:#0D1321;
  }
  .text-center{
      text-align: center;
     
  }
  .text-p{
      font-size: 10px;
  }
  
  /* nav styles */
  
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 50px 0 50px;
  }
  
  .nav-title{
      font-weight: 800;
      font-size: 28px;
  }
  nav ul li{
      list-style: none;
  }
  
  #btn{
      width: 196px;
      height: 24px 24px;
      text-align: center;
      font-weight: bold;
      color: white;
      border-radius: 10px;
      cursor: pointer;
  }
  
  
  /* banner styles */
  
  
  .hero{
      background-image: url(../assets/Hero-bg.png);
      max-width: 1440px;
      max-height: 600px;
      text-align: center;
      
      
  }
  
  .hero-content{
      text-align: center;
      width: auto;
      height: 350px;
      padding: 0px 216px 67px 200px;
      gap: 32px;
  }
  .btn-primary{
      width: 190px;
      height: 24px;
      align-items: center;
      background-color: #0D1321;
      color: #FFFFFF;
      padding: 24px 24px;  
      cursor: pointer;
      border-radius: 10px;
  }
  
  /* why web dev styles */
  
  
  /* flex box styles */
  
  .flex-container{
      
      box-sizing: border-box;
      width: 100%;
      height: auto;
      display: flex;
      justify-content:space-between;
      gap: 60px;
      
  }
  .flex-box{
      text-align: justify;
  }

  /* My Inspiration */

  .video-text{
    align-items: center;
    max-width: 1140%;
    max-height: 614px;
    align-items: center; 
  }
  .video-container{
    gap: 10px;
  }

  .rounded-iframe {
    width: 80%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 16px; 
    overflow: hidden;
    margin-top: 20px;
  }


/* current target stat */

.skill{
    max-width: 1140px;
    max-height: 460px;
    margin: 30px;
    padding: 10px;   
}

/* card-container */

.card-container{
display: flex;
align-items: center;
align-content:space-around;
gap: 20px;
border: #ccc;
border-radius: 10px;
margin-top: 30px;
}

.card-1{
    text-align: justify;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(255, 76, 30, 0.05)
}
.card-2{
    text-align: justify;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(0, 76, 232, 0.05);
}
.card-3{
    text-align: justify;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(255, 223, 0, 0.05);
}
.bold{
    font-size: 11px;
    font-weight: bold; 
}

/* my next target start */

.skill-2{
    max-width: 1140px;
    max-height: auto;
    margin: 30px;
    padding: 10px;  
}
.react{
    display: flex;
    text-align: justify;
    align-items: center;
    align-content:space-around;
    gap: 20px;
    border: 1px solid rgb(192, 186, 186);
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    margin-top: 20px;
}

.Nodejs{
    display: flex;
    text-align: justify;
    align-items: center;
    align-content:space-around;
    gap: 20px;
    border: 1px solid rgb(192, 186, 186);
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    margin-top: 24px;
}

.MongoDB{
    display: flex;
    text-align: justify;
    align-items: center;
    align-content:space-around;
    gap: 20px;
    border: 1px solid rgb(192, 186, 186);
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    margin-top: 24px;
}

/* suggest box */

.suggest-container{
    max-width: 1140px;
    max-height: auto;
    margin: 35px;
    margin-top: 10px;
    padding:160px;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    border-radius: 10px;
}

.title{
    color:white;
    text-align: center;
}

.feedback-bar{
    
    align-items: center;
    margin-left: 50px;
    width: 35%;
    padding: 15px 300px 15px 10px;
    border: none;
    border-radius: 5px;
}


.submit{
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    gap: none;
}


